
body{
    text-align: center;
    background-color: lightgrey;
}


ul#mainList{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 1fr;
    text-align: center;
    align-items: center;
    gap: 2rem 0;
    margin: 0;
    list-style-type: none;
    border-radius: 10px;
    background-color: lightgrey;
}

ul#mainList > *{
    background-color: pink;
}

ul#mainList > :nth-of-type(2n){
    background-color: white;

}

div{
    max-width: 70rem;
    margin: 0 auto;
    border: 0.18 rem solid black;
    /* padding: clamp(1rem, 2vw, 3rem); */
    border-radius: 0.5rem;
}

div > * + *{
    margin-top: 1rem;
}

form{
    padding: 0;
    background-color: lightgray;
}

#slideShow a{
    text-decoration: none;
    color: white;
}
ul#alphaList{
    min-width: 696px;
    padding-top: 20px;
    gap: 1fr;
    background-color: gray;
}

ul#alphaList li{
    display: inline;
    float: center;
    padding: 9.5px;
    height: 100%;
    font-size: 30px;
}

ul#alphaList li a{
    color: white;
    font-weight: bold;
    text-align: center;
}

ul#alphaList li a:link{
    text-decoration: none;
}

ul#alphaList li a:visited{
    text-decoration: none;
}

ul#alphaList li a:hover{
    font-size: 50px;
    color: pink;
}

ul#alphaList li a:active{
    text-decoration: none;
}

li{list-style: none;}

#slideShow{
    background-color: gray;
    width: 100%;
    height: 12rem;
    position: relative;
    padding: 1rem;
    color: white;
    font-size: xx-large;
    list-style: none;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing{
    opacity: 1;
    z-index: 2;
}

#logo{
    height: 150px;
    border-radius: 75px;
}


#description{
    background-color: lightgray;
}


#text{
    background-color: gray ;
    outline: none;
    height: 25px;
}

#text:focus{
    background-color: pink;
    outline: none;
}

#searchButton{
    outline-color: gray;
    background-color: lightgray;
    font-family: sans-serif;
    height: 50px;
}

#searchButton:hover{
    background-color: pink;
}

#suggest{
    color: black;
    background-color: lightgray;
}

#suggest:hover{
    color: darkgrey;
}

#infoSuggest{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    
}

#infoSuggest input{
    background-color: gray ;
    outline: none;
    height: 25px;
    width: 200px;
    border-radius: 15px;
    text-align: center;
}

#infoSuggest input:focus{
    background-color: pink;
    outline: none;
}

::placeholder{
    color: white;
}

#infoSuggest select{
    background-color: gray ;
    outline: none;
    height: 25px;
    width: 100px;
    border-radius: 15px;
    text-align: center;
}

#submitSuggest{
    outline-color: gray;
    background-color: lightgray;
    font-family: sans-serif;
    height: 50px;
}

#submitSuggest:hover{
    background-color: pink;
}

.info a{
    color: black;
}
